﻿@model Picture_Holder.Models.MainModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Style.css" type="text/css" rel="stylesheet" />
    <title>Picter Holder</title>
</head>
<body>
    <div class="container">

        <div class="pictures">
            @for (int i = 0; i < Model.Name.Count; i++)
            {
                <div class="pictureBox">
                    <img src=@Model.Url.ToArray()[i] align="middle">
                    @Model.Name.ToArray()[i]
                </div>
            }
        </div>
        <div class="adding">
            @using (Html.BeginForm("", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="fileUpload" />
                <br>
                <input type="submit" />
            }
            <div class=@Model.Error>
                К сожалению, выбранный вами<br>формат не поддерживается<br>или является некорректным
            </div>
            <div class=@Model.connFail>
                К сожалению, произошла ошибка<br>соединения с сервером Яндекс
            </div>
        </div>


    </div>
</body>
</html>