﻿	body, html{
	margin:0;
}

.container {
    width: 100%;
    height: 100%;
}

.pictures {
    padding: 25px 0 25px 25px;
    display: inline-block;
    width: calc(50% - 25px);
    height: calc(99vh - 50px);
    overflow: auto;
}

.pictureBox {
    margin: 0 0 10px 0;
}

.adding {
    position: absolute;
    height: 57px;
    display: inline-block;
    text-align: center;

    top: calc(50% - 27px);
    left: calc(50% + 27px);
}

.visible {
    visibility: visible;
    position: relative;
    top: 32px;
    color: #FA8072;
}

.hidden {
    visibility: hidden;
    position: relative;
    top: 32px;
    color: #FA8072;
}

.adding input[type=submit] {
    display: inline-block;
    position: relative;
    top: 16px;
}